body {
  font-family: Roboto;
  margin: 0;
}

ul {
  list-style-type: none;
}

.information button {
  color: white;
  background-color: #3882f6;
  border-radius: 4px;
  padding: 8px 24px;
  border: 1px solid #3882f6;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  color: #f9faf8;
  align-items: center;
  padding: 0 50px;
}

.header-logo {
  font-size: 24px;
}

.header-link {
  display: flex;
  gap: 18px;
}

.section-one {
  display: flex;
  justify-content: space-evenly;
  background-color: #1f2937;
  padding: 50px 0 80px;
  color: #f9faf8;
}

#leopard-gecko {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-two {
  display: flex;
  gap: 36px;
}

.veldora {
  border-radius: 10px;
  border: 3px solid black;
}

.picture {
  text-align: center;
}

.picture p {
  margin-top: 8px;
  font-size: 18px;
  color: dimgray;
}

.section-three {
  background-color: #e5e7eb;
}

.section-three {
  display: flex;
  padding: 80px 0;
  justify-content: center;
}

.section-three .container-quote {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.quote {
  font-size: 36px;
}

.quote-name {
  font-weight: bold;
}

.section-three p {
  margin: 5px;
}

.section-four p {
  margin: 5px;
  color: white;
}

.heading-four {
  font-size: 24px;
  color: #1f2937;
  font-weight: 900;
}

.section-four {
  display: flex;
  justify-content: center;
  padding: 80px;
}

.container-four {
  background-color: #3882f6;
  border-radius: 8px;
  display: flex;
  padding: 30px 120px;
  justify-content: space-between;
  gap: 120px;
  align-items: center;
}

.text-information {
  font-size: 16px;
}

#sell-soul {
  background-color: #3882f6;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 8px 30px;
  font-size: 16px;
}

.footer {
  background-color: #1f2937;
  text-align: center;
  padding: 8px;
  color: white;
}

.first-veldora {
  border: 1px solid whitesmoke;
  border-radius: 8px;
}
